In [1]:
import pandas as pd

In [2]:
jo = pd.read_csv('./data/jlt.csv',skiprows=4)

In [3]:
jo.shape

(4124, 13)

In [4]:
jo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4124 entries, 0 to 4123
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Period (YYYYMM)                      4086 non-null   float64
 1   Metropolitan Statistical Area (MSA)  4086 non-null   object
 2   MSA Code                             4086 non-null   float64
 3   Job Openings                         4086 non-null   float64
 4   Hires                                4086 non-null   float64
 5   Quits                                4086 non-null   float64
 6   Layoffs & Discharges                 4086 non-null   float64
 7   Total Separations                    4086 non-null   float64
 8   Job Openings Rate                    4086 non-null   float64
 9   Hires Rate                           4086 non-null   float64
 10  Quits Rate                           4086 non-null   float64
 11  Layoffs & Discharges Rate            4086 non-null   float64
 12  Total Separations Rate               4086 non-null   float64
dtypes: float64(12), object(1)
memory usage: 419.0+ KB

In [5]:
jo.head()

,Period (YYYYMM),Metropolitan Statistical Area (MSA),MSA Code,Job Openings,Hires,Quits,Layoffs & Discharges,Total Separations,Job Openings Rate,Hires Rate,Quits Rate,Layoffs & Discharges Rate,Total Separations Rate
0,200102.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,80.0,76.0,45.0,29.0,81.0,3.4,3.3,2.0,1.3,3.5
1,200103.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,83.0,82.0,46.0,27.0,79.0,3.5,3.6,2.0,1.2,3.5
2,200104.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,84.0,88.0,47.0,23.0,76.0,3.5,3.8,2.0,1.0,3.3
3,200105.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,79.0,95.0,49.0,28.0,83.0,3.3,4.1,2.1,1.2,3.6
4,200106.0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,77.0,97.0,51.0,31.0,88.0,3.2,4.2,2.2,1.3,3.8

### Renaming Columns

In [6]:
jo.rename(columns={'Period (YYYYMM)':'Period', 'Metropolitan Statistical Area (MSA)':'Metro_Area'}, inplace=True)

### Removing na values

In [7]:
jo.isna().sum()

Period                       38
Metro_Area                   38
MSA Code                     38
Job Openings                 38
Hires                        38
Quits                        38
Layoffs & Discharges         38
Total Separations            38
Job Openings Rate            38
Hires Rate                   38
Quits Rate                   38
Layoffs & Discharges Rate    38
Total Separations Rate       38
dtype: int64

In [8]:
naindex = jo.index[jo.isnull().any(axis=1)]

In [9]:
jo.drop(naindex,axis=0,inplace=True)

## Seperating year and month

In [10]:
#first change to datetime
jo['Period'] = pd.to_datetime(jo['Period'], format = '%Y%m')
jo['Year'] = jo['Period'].dt.year
jo['Month'] = jo['Period'].dt.month
jo.drop('Period',axis=1,inplace=True)

In [14]:
jo['Metro_Area'].map(lambda x: x[x.find(',')+2:]).value_counts()

CA             908
TX             454
CO             227
DC-VA-MD-WV    227
MI             227
WA             227
NY-NJ-PA       227
MN-WI          227
PA-NJ-DE-MD    227
FL             227
IL-IN-WI       227
AZ             227
MA-NH NECTA    227
GA             227
Name: Metro_Area, dtype: int64

In [15]:
jo

,Metro_Area,MSA Code,Job Openings,Hires,Quits,Layoffs & Discharges,Total Separations,Job Openings Rate,Hires Rate,Quits Rate,Layoffs & Discharges Rate,Total Separations Rate,Year,Month
0,"Atlanta-Sandy Springs-Roswell, GA",12060.0,80.0,76.0,45.0,29.0,81.0,3.4,3.3,2.0,1.3,3.5,2001,2
1,"Atlanta-Sandy Springs-Roswell, GA",12060.0,83.0,82.0,46.0,27.0,79.0,3.5,3.6,2.0,1.2,3.5,2001,3
2,"Atlanta-Sandy Springs-Roswell, GA",12060.0,84.0,88.0,47.0,23.0,76.0,3.5,3.8,2.0,1.0,3.3,2001,4
3,"Atlanta-Sandy Springs-Roswell, GA",12060.0,79.0,95.0,49.0,28.0,83.0,3.3,4.1,2.1,1.2,3.6,2001,5
4,"Atlanta-Sandy Springs-Roswell, GA",12060.0,77.0,97.0,51.0,31.0,88.0,3.2,4.2,2.2,1.3,3.8,2001,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4081,"Boston-Cambridge-Nashua, MA-NH NECTA",71650.0,131.0,97.0,51.0,31.0,87.0,4.4,3.4,1.8,1.1,3.1,2019,8
4082,"Boston-Cambridge-Nashua, MA-NH NECTA",71650.0,132.0,98.0,53.0,34.0,92.0,4.5,3.5,1.9,1.2,3.3,2019,9
4083,"Boston-Cambridge-Nashua, MA-NH NECTA",71650.0,132.0,91.0,53.0,35.0,93.0,4.5,3.2,1.9,1.3,3.3,2019,10
4084,"Boston-Cambridge-Nashua, MA-NH NECTA",71650.0,117.0,88.0,44.0,31.0,79.0,4.0,3.1,1.6,1.1,2.8,2019,11
4085,"Boston-Cambridge-Nashua, MA-NH NECTA",71650.0,108.0,76.0,38.0,30.0,71.0,3.7,2.7,1.3,1.1,2.5,2019,12